 /* Google font import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:opsz,wght@6..12,400;6..12,800;6..12,1000&family=Roboto:wght@100&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /*General styles*/
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: 'Lato', sans-serif;
     color: #000000;
 }

 /*main*/
 main {

     /*make main element take up any surplus space*/
     flex: 1 0 auto;
     margin-top: 47px;
     display: flex;
     flex-direction: column;

 }

 /*header*/
 header {
     background-color: #f55;
     padding: 0;
     position: fixed;
     z-index: 99;
     width: 100%;
     box-shadow: 0 1px 1px #3a3a3a;
     display: flex;


 

 #menu {
     font-size: 100%;
     letter-spacing: 2px;
     list-style-type: none;
     text-transform: uppercase;
     line-height: 1.5em;
     display: flex;

 }

 header a {
     text-decoration: none;
     color: inherit;

 }
 /*navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

 /*nav toggle*/
 #nav-toggle:checked ~ nav {
    display: block;
 }
 #nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
   
}

#cover-photo{
    background: no-repeat center center/cover;
    position: relative;
}

 /*footer*/
 #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    
}



    
/*media query: larger landscape phones(576px and above)*/
@media  screen and (min-width:768px) {
    nav{
        display:block;
        width:fit-content;
        box-shadow: none;
        position: relative;
        padding-right: 1rem;
    }
}
#menu {
    display: block;
}
.nav-toggle-label {
    display: none;
}
/*large devices (laptops and desktops, 922px and up )*/
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}