 /* Google font import */
 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:opsz@6..12&family=Roboto:wght@100&display=swap');

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #3a3a3a;
}

/*main*/
main {

    /*make main element take up any surplus space*/
    flex: 1 0 auto;
    margin-top: 47px;
    display:flex;
    flex-direction:column;

}


